.env

mysettings.py

nextpage-db

*.log

/logging/django.log

backend/.erlang.cookie

# pycharm
.idea

# cpython
migrations/
__pycache__/
*.pyc

# rabbiqmq
backend/mnesia/*

data/prometheus/volume/*
data/grafana/volume/*